.navigation{
	  
	background-color: gray;

}
ul {
	    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
	display:inline;
}
a:link{
     color:black;
}
a:hoover{ 
     color:#FFFAF0;
}
h1 {
  
     font-size: 46px;
     color: #FFFAF0;
     background-color: black;
     font-family:400 130px/0.8 'Cookie', Helvetica, sans-serif;
}
h3{
     color:black;
     font-family: cursive;
     font-size: 18px;
}
body
{
     background-color:black;
}
