.navigation{

	background-color: red;

}

a:link{
     color:black;
}
a:hoover{ 
     color:#FFFAF0;
}
h1 {
     font-size: 46px;
     color: #FFFAF0;
     background-color: black;
}
h3{
     color:black;
     font-family: cursive;
     font-size: 18px;
}
body
{
     background-color:gray;
}
