h4 {
     background-color:#282828;
     font-size: 18 px;
     width:1500px;
     height: 10
     px;
}
h1 {
     font-size: 46px;
     color: #FFFAF0;
     background-color: black;
}
h3{
     color:black;
     font-family: cursive;
     font-size: 18px;
}
body
{
     background-color:gray;
}
